html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.nav-justified > li {
    display: table-cell; 
    width: 1%;
	margin-bottom:0px !important
}

.nav-justified > li a{
	border-radius:0px;
	height:50px;
	line-height:30px;
}

.list-group{
	margin-top:-5px !important
}

.list-group-item{
	border-left:none !important;
	border-right:none !important
}

.margin-30{
	margin-top:30px !important
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height:250px;
  	margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  width:100% !important;
  height:250px !important;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.fa{ 
	margin-right:10px
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}